# Ignore virtual environments
venv/

# Ignore logs
logs/

# Ignore __pycache__ folders
__pycache__/

# Ignore temporary files
*.pyc
*.pyo
*.~*

# Exclude master CSV and log files
csv_folder/master_jobs.csv
job_scraping_log.txt
